<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>收益列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
  <header class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">我是团长</h1>
    </h1>
  </header>
    {include file='base/headnav'}
    <div class="mui-content">
        <!-- 佣金汇总 -->
        <div class="c-yongjin">
            <!-- 上面灰色部分 start -->
            <div class="c-yongjin-top">
                <select id="timeselect">
                    <option value="0">全部</option>
                    <option value="1">本月</option>
                    <option value="2">本周</option>
                </select>
                <div class="c-yj-input">
                    <input type="text" name="" value="">
                    <!-- 点击搜索后跳转 -->
                    <a href="#" title="">
                        <img src="__STATIC__/index/imgs/search.png" alt="">
                    </a>
                </div>
                <span class="right">合计 ￥{$sum}</span>
            </div>
            {volist name="order" id="item"}
            <div id="c-tuiguang">
                <div class="c-tuiguang">
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
                            <i class="mui-icon iconfont">&#xe606;</i>交易单号:{$item.order_sn}
                        </a>
                    </li>
                    <p>销售价格: <span>{$item.order_paymoney}</span></p>
                    <p>佣金: {$item.sumprice}元</p>
                    <p class="h-yichu">货物名称: {$item.goods_names}</p>
                    <p>交易时间: <span>{:date('Y-m-d H:i:s',$item.order_paytime)}</span></p>
                </div>
                <div class="c-hui"></div>
            </div>
            {/volist}
        </div>  
    </div>

    <script>
      
      $("#timeselect").change(function(){
        location.href="{:url('income','',false)}/Interval/" + $(this).val();
      });

    </script>

</body>
</html>