<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>发布分享</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<style>
  .l-jia2 {
    background-image: url() !important;
  }

  .mui-col-xs-4 {
    width:50% !important;
  }

  .tg-btn{
    border-radius: 20px;
    color: #fff;
    background-color: #ffb212;
    border: 0;
    float: right;
    height: 25px;
    line-height: 1;
  }
</style>
</head>
<body>
  <header class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">我是团长</h1>
    </h1>
  </header>

    {include file='base/headnav'}
    <input type="hidden" value="{$ids}" id="idsbox">
    <div class="mui-content">
    <!-- 商品发布 -->
      {volist name="goods" id="item"}
        <div class="l-zong l-zong2">
          <div class="idbox" data-id="{$item.goods_id}"></div>
          <div class="l-img">
              <img class="head_image" src="{$item.goods_image}" alt="">
          </div>
          <div class="l-zi">
              <p>{$item.goods_name}</p>
              <p>￥<span class="l-span">{$item.goods_price}</span></p>
              <p class="l-jia2" style="">佣金: ￥{$item.goods_brokerage}<button type="button" class="removeGoods">点击删除</button></p>
          </div>
        </div>
      {/volist}
      <!-- 分享按钮 -->
      <a href="#forward" title="">
          <button type="button" class="shenqing-btn shenqing-btn2">点击右上角分享</button>
      </a>

    </div>

    <!-- 分享到某某处 -->
    <!--<div id="forward" class="mui-popover mui-popover-action mui-popover-bottom">
      <ul class="mui-table-view">
      <div style="padding: 20px 15px">
          <p style="font-size: 16px;margin-bottom: 20px">选择要分享到的平台</p>
          <div class="yaoqing-ul">
            <ul id="shareul">
              <li class="mui-col-xs-4" data-type='2'>
                  <img src="__STATIC__/index/imgs/yaoqing1.png" alt="">
                  <span style="display: block">微信</span>
              </li>
              <li class="mui-col-xs-4" data-type='1'>
                  <img src="__STATIC__/index/imgs/yaoqing2.png" alt="">
                  <span style="display: block">微信朋友圈</span>
              </li>
            </ul>
          </div>
      </div>
      </ul>
      <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a href="#forward"><b>取消分享</b></a>
        </li>
      </ul>
    </div>-->
</body>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/index/js/jquery.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

<script type="text/javascript">

  $(function(){

    var config = [];

    $.ajax({
      url:"{:url('WechatShare/GetSigna')}",
      type:"GET",
      async:false,
      data:{ids:$("#idsbox").val()},
      success:function(res){
        if(res.code){
          config = res.data;
          console.log(config)
          wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: config.appId, // 必填，公众号的唯一标识
            timestamp: config.timestamp, // 必填，生成签名的时间戳
            nonceStr: config.nonceStr, // 必填，生成签名的随机串
            signature: config.signature,// 必填，签名
            jsApiList: [
                'updateAppMessageShareData', // 分享到朋友圈
                'updateTimelineShareData' // 分享到微信好友
            ] // 必填，需要使用的JS接口列表
          });

        }
      }
    });

      if($("#idsbox").val() == ''){
          layer.msg('请先选择要分享的商品');
          setTimeout(function(){location.href="{:url('goodslist')}"},2000);
      }

      var imgSrc = $(".mui-content").children(":eq(0)").find(".head_image").attr('src')
      var imgUrl = window.location.protocol + "//" + window.location.host + imgSrc;
      var all_share_info = {
        title:'快来看看我分享的商品！',
        desc:'我在乐迪购发现了一些有趣的商品！',
        link:window.location.href,
        imgUrl:imgUrl
    };
      wx.ready(function () {
          all_share_event(all_share_info);
      });

      function all_share_event(all_share_info2, type, user_id) {
          if (type == 1) {
              //“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
              wx.updateTimelineShareData({
                  title: all_share_info2.title,
                  link: all_share_info2.link,
                  imgUrl: all_share_info2.imgUrl,
                  success: function (res) {
                      // alert('已分享2');
                      // $(".maskgroup_show").hide();
                  },
                  cancel: function (res) {
                      alert('已取消');
                      // $(".maskgroup_show").hide();
                  }

              });
          } else {
              //监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
              wx.updateAppMessageShareData({
                  title: all_share_info2.title,
                  desc: all_share_info2.desc,
                  link: all_share_info2.link,
                  imgUrl: all_share_info2.imgUrl,
                  success: function (res) {
                      // alert('已分享1');
                      // $(".maskgroup_show").hide();
                  },
                  cancel: function (res) {
                      alert('已取消');
                      // $(".maskgroup_show").hide();
                  }

              });
          }
      }

      layui.use('layer', function(){
          var layer = layui.layer;


          $("ul#shareul").on('click','li',function(){

              var type = $(this).attr('data-type');

              var ids = '';

              $(".idbox").each(function(){
                  ids += $(this).attr("data-id")+',';
              });

              if(ids != ''){

                  $.ajax({
                      url:"{:url('Share')}",
                      type:"GET",
                      data:{ids:ids.substring(0,ids.length-1),type:type},
                      success:function(res){
                          if(res.code)
                              share(type,res.user_id);
                          else
                              layer.msg(res.msg);
                      },error:function(){
                          layer.msg('服务器错误，请刷新重试');
                      }
                  });
              }else
                  layer.msg('请至少分享一个商品');

          });
      });
  });

</script>