<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>编辑{$modeltext}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__CSS__/admin.css" media="all">

  <style>
    
    #previewimage {
      margin: 10px 0px 10px 110px;
      height: 200px;
    }

  </style>

</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">编辑{$modeltext}</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="component-form-group" id="myform">
          <input type="hidden" name="prize_id" value="{$data.prize_id}">
    
          <div class="layui-form-item">
            <label class="layui-form-label">奖品名称</label>
            <div class="layui-input-block">
              <input type="text" name="prize_name"  autocomplete="off" placeholder="请输入奖品名称" class="layui-input" value="{$data.prize_name}">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">关联优惠券</label>
            <div class="layui-input-block">
              <select name="prize_coupon" lay-filter="prizecoupon">
                {volist name="coupons" id="coupon"}\
                  <option value="{$coupon.coupon_id}" {if $data.prize_coupon eq $coupon.coupon_id} selected="" {/if}>{$coupon.coupon_name}</option>
                {/volist}
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">奖品数量</label>
            <div class="layui-input-block">
              <input type="number" name="prize_num"  autocomplete="off" placeholder="请输入奖品数量" class="layui-input" value="{$data.prize_num}">
            </div>
          </div>

           <div class="layui-form-item">
            <label class="layui-form-label">中奖概率</label>
            <div class="layui-input-block">
              <input type="number" name="prize_probability"  autocomplete="off" placeholder="请输入中奖概率" class="layui-input" value="{$data.prize_probability}">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">奖品状态</label>
            <div class="layui-input-block">
              <input type="radio" name="prize_status" value="1" title="正常" {if $data.prize_status eq 1} checked="" {/if}>
              <input type="radio" name="prize_status" value="0" title="禁用" {if $data.prize_status eq 0} checked="" {/if}>
            </div>
          </div>

          <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
              <div class="layui-footer" style="left: 0;">
                <div class="layui-btn" lay-submit="" lay-filter="component-form-demo1">保存修改</div>
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <script src="__STATIC__/layui/layui.js"></script>  
  <script>
    layui.config({
      base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
      var $ = layui.$
      ,layer = layui.layer
      ,upload = layui.upload
      ,form = layui.form;


      /* 监听提交 */
      form.on('submit(component-form-demo1)', function(data){

        var flag = true;
        var prize_status = $("input[name='prize_status']:checked").val(); // 当前商品状态
        var prize_probability = $("input[name='prize_probability']").val(); // 当前商品概率

        if(prize_status == 1) {
            // 判断概率是否超过100
            $.ajax({
              url:"{:url('getSumProbability')}",
              type:"GET",
              async: false, 
              data:{id:$("input[name='prize_id']").val()},
              success:function(res){
                var sum = res.data + parseInt(prize_probability);
                console.log(sum);
                if(sum > 100) {
                    flag = false;
                    layer.msg('奖品总概率不得超过100%');
                }
              },error:function(){
                layer.msg('服务器错误，请稍后重试');
              }
            })
        } 

        // 判断是否提交数据
        if(flag) {
            $.ajax({
            url:"{:url('update')}",
            type:"POST",
            data:$("#myform").serialize(),
            success:function(res){
              layer.msg(res.msg);
              if(res.code)
                setTimeout(function(){window.parent.location.reload()},2000);
            },error:function(){
              layer.msg('服务器错误，请稍后重试');
            }
          })
        }
        
      });
    });
  </script>
</body>
</html>