<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>订单列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--标准mui.css-->
  <link href="__STATIC__/index/css/mui.min.css" rel="stylesheet">
  <link href="__STATIC__/index/css/iconfont.css" rel="stylesheet" >
  <link href="__STATIC__/index/css/style.css" rel="stylesheet" >
</head>
<style>
  .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {color: #90583f;}
  .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{background-color: #90583f;}
  .mui-slider-indicator.mui-segmented-control{background: #f8f6f9;}
  .empty{margin-top: 30px;font-weight: 500;font-size: 18px;}
  .mui-slider{height: 100%}
  .rider-xiadan{border: 0;padding:0;}
  .xiadan-btn{margin:10px 0;}
  .abox .schedule{
    font-size: 16px;
    line-height: 38px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .abox .artive {
    color: #90583f;
    border-bottom: 3px solid #90583f;
  }
</style>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">接单大厅</h1>
		</h1>
	</header>

  {include file='base/nav'}

  <div class="mui-content">
      <div style="width: 100%;">
        <div class="mui-content" style="background-color:#fff;">
            <div id="slider" class="mui-slider">
                <div class="abox">                  
                    <a href="{:url('list',array('schedule'=>10))}" class="schedule {if $schedule == 10} artive {/if}">待取货</a>
                    <a href="{:url('list',array('schedule'=>20))}" class="schedule {if $schedule == 20} artive {/if}">配送中</a>
                    <a href="{:url('list',array('schedule'=>30))}" class="schedule {if $schedule == 30} artive {/if}">已完成</a>
                </div>

                <div class="mui-slider-group">
                    <div id="item1mobile" class="mui-slider-item mui-control-content mui-active" style="border: none;">
                      {volist name="data" id="order" empty="$empty"}
                        <div class="rider-index">
                            <ul class="mui-table-view">
                              <li class="mui-table-view-cell">
                                  <a class="mui-navigate-right" style="color: #727073;text-align: left;" href="{:url('info',array('task_id'=>$order.task_id))}"> 
                                      订单编号:<span style="color: #000;margin-left: 10px">{$order.order_sn}</span>
                                  </a>
                              </li>
                            </ul>
                            <div class="rider-xiadan clear">
                                <div class="rider-xiadan2 rider-xiadan30">
                                    <p class="h-yichu">
                                      <img src="__STATIC__/index/imgs/qu.png" alt="" id="img24">{$order.task_pickupaddress}
                                      {if $order.task_schedule eq 10} <span class="right">{$order.task_pickupmobile}</span> {/if}
                                    </p>
                                    <p class="h-yichu">
                                      <img src="__STATIC__/index/imgs/song.png" id="img24">{$order.task_shippingaddress}
                                      {if $order.task_schedule eq 20} <span class="right">{$order.task_pickupmobile}</span> {/if}
                                    </p>
                                </div>
                            </div>
                            {if $schedule eq 10}
                              <button type="button" class="mui-btn xiadan-btn changeSchedule" data-id="{$order.task_id}" data-schedule="{$order.task_schedule}">已取货</button>
                            {elseif $schedule eq 20}
                              <button type="button" class="mui-btn xiadan-btn changeSchedule" data-id="{$order.task_id}" data-schedule="{$order.task_schedule}">已送达</button>
                            {elseif $schedule eq 30}
                              <button type="button" class="mui-btn xiadan-btn">等待确认收货</button>
                            {elseif $schedule eq 35}
                              <button type="button" class="mui-btn xiadan-btn">已完成</button>
                            {/if}
                        </div>  
                        <div style="background:#f8f6f9;height: 15px"></div>
                      {/volist}
                    </div>
                </div>
            </div>
        </div>
      </div>
	 </div>
</body>
<script src="__STATIC__/index/js/mui.min.js"></script>
<script src="__STATIC__/index/js/jquery.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script type="text/javascript">

  layui.use('layer', function(){
    var layer = layui.layer;

    $(".changeSchedule").click(function(){
      $.ajax({
        url:"{:url('changeSchedule')}",
        type:"GET",
        data:{task_id:$(this).attr('data-id'),schedule:$(this).attr('data-schedule')},
        success:function(res){
          layer.msg(res.msg);
          if(res.code)
            setTimeout(function(){window.location.reload()},2000);
        },error:function(){
          layer.msg('操作失败，请刷新重试');
        }
      })
    });
  });
</script>