<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>送餐</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--标准mui.css-->
  <link href="__STATIC__/index/css/mui.min.css" rel="stylesheet">
  <link href="__STATIC__/index/css/iconfont.css" rel="stylesheet" >
  <link href="__STATIC__/index/css/mui.picker.min.css" rel="stylesheet" >
  <link href="__STATIC__/index/css/style.css" rel="stylesheet" >
</head>
<style>
  .mui-table-view-cell>a:not(.mui-btn){padding: 10px;color: #5e5c5f; font-size: 16px}
  .mui-btn-block{margin:0;padding: 0;font-size: 14px;background: none;border: none;color: #8b898c }
  .rider-xiadan{border: 0;padding:0;}
  .xiadan-btn{margin:10px 0;}
  .rider-xiadan{border-bottom: 1px solid #f4f2f5}
  .rider-xiadan30 p{border: 0; padding: 2px 0;}
  .rider-xiadan30 p:nth-child(1){font-size: 16px}
  .ui-alert{font-size: 14px; color: #8b898c}
</style>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">提现</h1>
		</h1>
	</header>

  {include file='base/nav'}

    <div class="mui-content">
        <input type="hidden" name="cash_type" class="cash_type" value="{$cash_type}">
        <input type="hidden" name="cash_user" class="cash_user" value="{$cash_user}">

        <div class="zong-money"><p>总收入: <span class="cash-money">{$sum}</span>元</p></div>
        <div class="zong-money"><p>已提现金额: <span class="cash-money">{$cashMoney}</span>元</p></div>
        <div class="zong-money"><p>提现审核中金额: <span class="apply-money">{$applyMoney}</span>元</p></div>
        <div class="zong-money"><p>可提现金额: <span class="able-money">{$ableMoney}</span>元</p></div>

        <div class="l-relative">
            <span class="l-absolute">提现金额</span>
            <input type="text" name="cash_money" class="cash_money" value="" placeholder="提现金额">
        </div>

        <div class="mui-col-xs-4 center">
            <button class="mui-btn apply">提交</button>
        </div>
    </div>

</body>
<script src="__STATIC__/index/js/mui.min.js"></script>
<script src="__STATIC__/index/js/jquery.min.js"></script>
<script src="__STATIC__/index/js/mui.picker.min.js"></script>
<script type="text/javascript">
    // 选择时间
    (function($) {
        $.init();
        var result = $('#result')[0];
        var btns = $('#demo1');
        btns.each(function(i, btn) {
          btn.addEventListener('tap', function() {
            var _self = this;
            if(_self.picker) {
              _self.picker.show(function (rs) {
                result.innerText = rs.text;
                _self.picker.dispose();
                _self.picker = null;
              });
            } else {
              var optionsJson = this.getAttribute('data-options') || '{}';
              var options = JSON.parse(optionsJson);
              var id = this.getAttribute('id');
              _self.picker = new $.DtPicker(options);
              _self.picker.show(function(rs) {
                result.innerText = rs.text;
                _self.picker.dispose();
                _self.picker = null;
              });
            }
            
          }, false);
        });
      })(mui);

    (function($) {
        $.init();
        var result = $('#result2')[0];
        var btns = $('#demo2');
        btns.each(function(i, btn) {
          btn.addEventListener('tap', function() {
            var _self = this;
            if(_self.picker) {
              _self.picker.show(function (rs) {
                result.innerText = rs.text;
                _self.picker.dispose();
                _self.picker = null;
              });
            } else {
              var optionsJson = this.getAttribute('data-options2') || '{}';
              var options = JSON.parse(optionsJson);
              var id = this.getAttribute('id');
              _self.picker = new $.DtPicker(options);
              _self.picker.show(function(rs) {
                result.innerText = rs.text;
                _self.picker.dispose();
                _self.picker = null;
              });
            }
            
          }, false);
        });
      })(mui);

    $(".apply").click(function () {
        var able_money = $(".able-money").text();
        var cash_money = $(".cash_money").val();
        var cash_type = $(".cash_type").val();
        var cash_user = $(".cash_user").val();

        if(cash_money == 0 || cash_money == '') {
            alert("请输入提现金额");
            return false;
        }
        if(eval(cash_money) > eval(able_money)) {
            alert("提现金额不得大于可提现金额");
            return false;
        }

        $.ajax({
            url:"{:url('cash/apply_cash')}",
            type:"POST",
            data:{cash_money:cash_money,cash_type:cash_type,cash_user:cash_user},
            success:function(res){
                alert(res.msg);
                if(res.code)
                    setTimeout(function(){window.location.reload()},2000);
            },error:function(){
                alert('服务器错误，请稍后重试');
            }
        })
    });

</script>